<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
        {% block end_head %}{% endblock %}
	</head>
	<body>
		{% block pre_title %} {% endblock %}
		{% block content %} {% endblock %}
        {% block end_body %}{% endblock %}
	</body>
</html>