
<div class="card account-box straight-edges shadowy-edges">
    <div class="card-header">

        <div class="d-flex">
            <div class="mr-3">
                <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="small">
                {{ user.email }}<br />
                {{ user.first_name }} {{ user.last_name }} <br />
            </div>
        </div>

    </div>
    <div class="card-body p-0">
      <ul class="list-group list-group-flush">
          {% for x in profile_actions %}
            <li class="list-group-item {% if x.name == page_name %}active{% endif %}">
                <a href="{{ x.url }}" {% if x.open_type == "newtab" %}target="_blank"{% endif %}>{{ x.title }}</a>
            </li>
          {% endfor %}
      </ul>
    </div>
</div>