 {% load static sekizai_tags %}

 {% addtoblock "js" %}
<script type="text/javascript" src='{% static "bs4_classic/bootbox.min.js" %}'></script>

<script type="text/javascript">

 $(document).ready(function() {
        $(".modal-confirm").click(function(ev) {
            ev.preventDefault();
            var target = $(this).attr("href");
            var title = $(this).attr("title") || "Confirm";
            var message = $(this).data("message") || "Are you sure you want to proceed?";

            confirmTransact(target, title, message);
        });

        $(".modal-alert").click(function(ev) {
            ev.preventDefault();
            var target = $(this).attr("href");
            var title = $(this).attr("title") || "Information";
            var message = $(this).data("message") || "Are you sure you want to proceed?";

            modalAlert(target, title, message);
        });

        $(".modal-remote").click(function(ev) {
            ev.preventDefault();
            var target = $(this).attr("href");
            var title = $(this).attr("title") || "Information";

            var dialog = bootbox.dialog({
                title: title,
                message: '<p><i class="fa fa-spin fa-spinner"></i></p>'
            });

            dialog.init(function(){
                dialog.find('.bootbox-body').load(target);
            });
        });

    });

</script>

 {% endaddtoblock %}